* {
	outline: 1px solid red !important;
}

* {
	box-sizing: border-box;
}

.title{
	padding: 20px;
	height: 150px;
	background-color: #004080;
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	color:#ffffff;
	font-size: 3em;
	text-align: center;
}