<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="ISO-8859-1">
<title>TP04 Pellisco Dana</title>
</head>
<body>

	<div>
		<div>
			<div class="title">
				<h1>Liga de fútbol profesional</h1>
			</div>
			<div>Menu</div>
		</div>
		<div>
			<div>Titulo de informacion</div>
			<div>Cartas de informacion</div>
		</div>
		<div>
			<div>Titulo de publicidad</div>
			<div>Anuncios</div>
		</div>
		<div>Contacto</div>
	</div>

</body>
</html>